
<header style="display: flex; align-items:center; gap:16px">
{{#if profile.image}}
  <img src="{{profile.image}}" alt="{{profile.name}}" />
{{/if}}

<h1>{{profile.name}}</h1>
  {{!-- If no user is authenticated, no action should be shown --}}

  {{#if isOwnProfile}}
  <a href="/profile/edit">Edit Profile</a>
  {{/if}}

  {{#unless isOwnProfile}}

   {{#if connect}}

  {{!-- Show follow button if no "follow" relationship exists --}}
  <form method="post" action="/profile/{{profile._id}}/disconnect" >
  <button>Connected</button>
  </form>

  <p>{{connect.connected.email}}</p>

  {{else}}

  {{!-- Show following button if "follow" relationship exists --}}
  <form method="post" action="/profile/{{profile._id}}/connect">
  <button>Connect</button>
  </form>
  {{/if}}
  {{/unless}}

 


</header>

<h3>{{profile.name}}'s Latest Deals</h3>

{{#each deals}}
{{>deal}}
{{/each}}