<div class="deal-body">
  <div class="header">
    <div>
      {{#if image}}
        <img src="{{image}}" alt="description" />
      {{/if}}
    </div>

    <div>
      <h3>General Information</h3>
      <h4>{{title}}</h4>
      <h4>{{type}}</h4>

      <small>{{formatDate createdAt}}
        - by
        <span>
          <a href="/profile/{{author._id}}">{{author.name}}</a></span>
      </small>
    </div>
  </div>

  <div class="description">
    <h3>Description</h3>
    <p>{{description}}</p>
  </div>

  {{#if isOwn}}
    <a href="/deal/{{_id}}/edit">Edit</a>
  {{/if}}
</div>