<div>
  <div id="home-deal-image">
    {{#if image}}
      <img src="{{image}}" alt="description" />
    {{/if}}
  </div>

  <span>
    <div id="home-deal-type"><h3>{{type}}</h3></div>
    <div><h3>{{title}}</h3></div>

  </span>
  <div id="home-deal-description"><p>{{description}}</p></div>

  <div id="home-deal-timeAndWho"><small>{{formatDate createdAt}}
      - by
      <span>
        <a href="/profile/{{author._id}}">{{author.name}}</a></span>
    </small></div>

  {{#if isOwn}}
    <a href="/deal/{{_id}}/edit">Edit</a>
  {{/if}}
</div>