<form method="POST" enctype="multipart/form-data">
  <label for="input-title"> Deal Title</label>
  <textarea
    name="title"
    id="input-title"
    style="text-transform:uppercase;"
  >{{deal.title}}</textarea>
  <label for="input-description">Deal description</label>
  <textarea
    id="input-description"
    name="description"
  >{{deal.description}}</textarea>

  {{#if deal.image}}
    <img src="{{deal.image}}" alt="{{deal.description}}" />
  {{/if}}
  <label for="input-image">Image <small>(optional)</small></label>
  <input id="input-image" type="file" name="image" />

  <button id="edit-deal">Edit Deal</button>
</form>

<form method="POST" action="/deal/{{deal._id}}/delete">
  <button id="delete-deal">Delete</button>
</form>